h2 {
  color: blueviolet;
}

.paragrafOzellik {
  color: rgb(126, 83, 83);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
}

.renklendirmeDemo {
  padding-left: 10px;
  width: 500px;
  height: 300px;
  background-image: url(images/mountain1.png);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: left;
  border: 5px inset rgb(27, 182, 53);
  border-radius: 3%;
}

.demoKutu {
  background-color: aqua;
  width: 15%;
  height: 100px;
}

.demoKutu2 {
  background-color: rgb(82, 199, 199);
  width: 50%;
  height: 50px;
  padding-top: 5px;
  padding-left: 5px;
}

.kutu1 {
  width: 300px;
  height: 300px;
  background-color: brown;
  display: inline-block;
}

.kutu2 {
  width: 300px;
  height: 300px;
  background-color: blue;
  display: inline-block;
  margin-left: 15px;
}

.textStyle {
  color: white;
  background-color: darkgreen;
  text-align: center;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  text-transform: lowercase;
  letter-spacing: 1px;
  text-decoration: overline;
  word-spacing: 3px;
}

/**{ Bütün verileri etkiler
  background-color: aqua; 
}*/

/*p{bütün p elementlerini etkiler
  background-color: red; 
}*/

/*h1,h3{ h1 ve h3 elementlerini etkiler
  color: blueviolet;
}*/

/*div p { div içerisindeki p elementlerini etkiler
  background-color: cadetblue;
  color: blue;
}*/

/*div > p { Parenti div olan bütün p elementlerini etkiler
  background-color: aqua;
}*/

/*div + p { Div elementinden hemen sonraki p elementini etkiler.
  background-color: white;
}*/

/*div ~ p { Div elementinden sonraki p elementlerini etkiler.
  background-color: yellow;
}*/

/* div > p:first-child { Parenti div olan p elementinin ilk değerini etkiler
  color: red;
} */

/* div > p:last-child { Parenti div olan p elementinin son değerini etkiler
  color: red;
} */

/* div > nav > a:nth-child(2) { Parenti div olan nav elementinin 3.cü  "a" değerini etkiler
  background-color: red;
} */

/* a:link= ilk hali.
a:hover= üzerine gelindiğinde
a:active= tıklanıldığında
a:visited= ziyaret edildikten sonra */

a:link {
  color: red;
  text-decoration: none;
}

a:hover {
  color: orange;
  text-decoration: underline;
}

a:active {
  color: blue;
  background-color: brown;
}

a:visited {
  color: darkolivegreen;
}

.list {
  list-style-type: decimal-leading-zero;
}

table {
  width: 100%;
}
#customers,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}
#customers th {
  background-color: green;
  color: white;
}

#customers tr:nth-child(even) {
  /*even 1-3-5 gibi sıralı gider.*/
  background-color: beige;
}

#customers tr:hover {
  background-color: aquamarine;
}

img {
  position: absolute;
  z-index: -1;
  top: 150px;
  width: 100%;
}

.overflow {
  background-color: lightblue;
  height: 75px;
  width: 50%;
  overflow: auto;
}

.navigationBar {
  list-style-type: none;
  width: 100%;
  background-color: #bbe3f9;
}
ul li {
  display: inline-block;
  width: 175px;
  padding: 15px;
  margin-left: -40px;
  margin-right: 25px;
  background-color: #bbe3f9;
}
ul li:hover {
  background-color: #004d9d;
  transition: 0.7s;
}
ul li a {
  text-decoration: none;
  color: #bbe3f9;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}

i {
  font-size: 20px;
  color: #00b0eb;
  margin-right: 10px;
}

#dpSelectorsContent {
  z-index: 1;
  position: absolute;
  display: none;
  margin-top: 15px;
  margin-left: -15px;
}

.selectorsView:hover #dpSelectorsContent {
  display: block;
}
